target/
.idea/
*.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Maven ###
.mvn/wrapper/maven-wrapper.jar