<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>
<div class="container">

    <span class="navbar-brand fs-3 fw-bold">

        <i class="bi bi-check2-square"></i>

        Task Manager

    </span>

    <form th:action="@{/logout}" method="post">

        <button class="btn btn-danger">

            Logout

        </button>

    </form>

</div>

<div class="container py-5">

    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">Task Dashboard</h1>
        <p class="text-muted">
            Stay organized and manage your daily tasks efficiently.
        </p>
    </div>
    <div class="row mb-5">

        <div class="col-md-4">

            <div class="card shadow border-0 text-center">

                <div class="card-body">

                    <h6 class="text-muted">

                        Total Tasks

                    </h6>

                    <h2
                            class="fw-bold text-primary"
                            th:text="${totalTasks}">

                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow border-0 text-center">

                <div class="card-body">

                    <h6 class="text-muted">

                        Pending Tasks

                    </h6>

                    <h2
                            class="fw-bold text-warning"
                            th:text="${pendingTasks}">

                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow border-0 text-center">

                <div class="card-body">

                    <h6 class="text-muted">

                        Completed Tasks

                    </h6>

                    <h2
                            class="fw-bold text-success"
                            th:text="${completedTasks}">

                    </h2>

                </div>

            </div>

        </div>

    </div>
    <!-- Add Task -->

    <div class="card shadow-lg border-0 mb-5">

        <div class="card-body">

            <h4 class="mb-4">

                <i class="bi bi-plus-circle"></i>

                <span th:text="${task.id} == null ? 'Add New Task' : 'Update Task'"></span>

            </h4>

            <form
                    th:action="${task.id} == null ? @{/tasks/add} : @{/tasks/update/{id}(id=${task.id})}"
                    th:object="${task}"
                    method="post">

                <input type="hidden" th:field="*{id}">

                <div class="row g-3">

                    <div class="col-lg-2">
                        <label class="form-label fw-semibold">Title</label>

                        <input
                                type="text"
                                class="form-control"
                                placeholder="Task title"
                                th:field="*{title}"
                                required>
                    </div>

                    <div class="col-lg-3">

                        <label class="form-label fw-semibold">Description</label>

                        <input
                                type="text"
                                class="form-control"
                                placeholder="Description"
                                th:field="*{description}">

                    </div>

                    <div class="col-lg-2">

                        <label class="form-label fw-semibold">Status</label>

                        <select class="form-select"
                                th:field="*{status}">

                            <option value="PENDING">Pending</option>
                            <option value="DONE">Done</option>

                        </select>

                    </div>

                    <div class="col-lg-2">

                        <label class="form-label fw-semibold">Priority</label>

                        <select class="form-select"
                                th:field="*{priority}">

                            <option value="HIGH">High</option>
                            <option value="MEDIUM">Medium</option>
                            <option value="LOW">Low</option>

                        </select>

                    </div>
                    <div class="col-lg-2">

                        <label class="form-label fw-semibold">Category</label>

                        <select class="form-select"
                                th:field="*{category}">

                            <option value="">Select Category</option>

                            <option
                                    th:each="c : ${categories}"
                                    th:value="${c.id}"
                                    th:text="${c.name}">
                            </option>

                        </select>

                    </div>

                    <div class="col-lg-2">

                        <label class="form-label fw-semibold">Due Date</label>

                        <input
                                type="date"
                                class="form-control"
                                th:field="*{dueDate}">

                    </div>

                    <div class="col-lg-1 d-grid">

                        <label class="form-label">&nbsp;</label>

                        <button
                                class="btn btn-success">

                            <i class="bi bi-check-circle"></i>

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <!-- Search -->

    <div class="card shadow-sm border-0 mb-4">

        <div class="card-body">

            <form
                    th:action="@{/tasks/search}"
                    method="get">

                <div class="row g-2">

                    <div class="col-md-10">

                        <input
                                type="text"
                                class="form-control"
                                name="keyword"
                                placeholder="Search tasks..."
                                th:value="${keyword}">

                    </div>

                    <div class="col-md-2">

                        <div class="d-flex gap-2">

                            <button
                                    class="btn btn-primary flex-fill">

                                <i class="bi bi-search"></i>

                            </button>

                            <a
                                    href="/tasks"
                                    class="btn btn-secondary flex-fill">

                                Reset

                            </a>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>
    <div class="mb-4">

        <a th:href="@{/tasks}"
           class="btn btn-secondary me-2">

            All

        </a>

        <a
                th:each="c : ${categories}"
                th:href="@{/tasks/category/{id}(id=${c.id})}"
                class="btn btn-outline-primary me-2">

            <span th:text="${c.name}"></span>

        </a>

    </div>
    <!-- sorting -->
    <div class="card shadow-sm border-0 mb-4">

        <div class="card-body">

            <form
                    th:action="@{/tasks/sort}"
                    method="get">

                <div class="row align-items-center">

                    <div class="col-md-10">

                        <select
                                name="sortBy"
                                class="form-select">

                            <option value="title">Title</option>
                            <option value="status">Status</option>
                            <option value="priority">Priority</option>
                            <option value="dueDate">Due Date</option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <button
                                class="btn btn-dark w-100">

                            <i class="bi bi-sort-alpha-down"></i>

                            Sort

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>
    <!-- Table -->

    <div class="card shadow border-0">

        <div class="card-body">

            <h4 class="mb-4">

                <i class="bi bi-list-task"></i>

                All Tasks

            </h4>

            <table class="table table-hover table-bordered align-middle text-center">

                <thead class="table-dark">

                <tr>

                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Category</th>
                    <th>Due Date</th>
                    <th>Actions</th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="t : ${tasks}">

                    <td th:text="${t.title}"></td>

                    <td th:text="${t.description}"></td>

                    <td>

                        <span
                                th:if="${t.status=='DONE'}"
                                class="badge bg-success">

                            Done

                        </span>

                        <span
                                th:if="${t.status=='PENDING'}"
                                class="badge bg-warning text-dark">

                            Pending

                        </span>

                    </td>

                    <td>

                        <span
                                th:if="${t.priority=='HIGH'}"
                                class="badge bg-danger">

                            High

                        </span>

                        <span
                                th:if="${t.priority=='MEDIUM'}"
                                class="badge bg-warning text-dark">

                            Medium

                        </span>

                        <span
                                th:if="${t.priority=='LOW'}"
                                class="badge bg-success">

                            Low

                        </span>

                    </td>
                    <td>

                    <span
                            class="badge bg-info"
                            th:text="${t.category != null ? t.category.name : 'None'}">

                    </span>

                    </td>


                    <td th:text="${t.dueDate}"></td>

                    <td>

                        <div class="d-flex justify-content-center gap-2">

                            <a
                                    th:href="@{/tasks/edit/{id}(id=${t.id}, page=${currentPage})}"
                                    class="btn btn-outline-primary btn-sm">

                                <i class="bi bi-pencil-square"></i>

                            </a>

                            <a
                                    th:href="@{/tasks/delete/{id}(id=${t.id})}"
                                    class="btn btn-outline-danger btn-sm"
                                    onclick="return confirm('Delete this task?')">

                                <i class="bi bi-trash"></i>

                            </a>

                        </div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>
<!-- pagination -->
<nav class="mt-4">

    <ul class="pagination justify-content-center">

        <li class="page-item"
            th:classappend="${currentPage==0} ? 'disabled'">

            <a class="page-link"
               th:href="@{/tasks(page=${currentPage-1})}">

                Previous

            </a>

        </li>

        <li class="page-item"

            th:each="i : ${#numbers.sequence(0,totalPages-1)}"

            th:classappend="${i==currentPage} ? 'active'">

            <a class="page-link"

               th:text="${i+1}"

               th:href="@{/tasks(page=${i})}">

            </a>

        </li>

        <li class="page-item"

            th:classappend="${currentPage==totalPages-1} ? 'disabled'">

            <a class="page-link"

               th:href="@{/tasks(page=${currentPage+1})}">

                Next

            </a>

        </li>

    </ul>

</nav>

<footer class="text-center mt-5 mb-4 text-muted">

    Developed by
    <strong>Yuvraj Kansa Banik</strong>

    |

    <a
            href="https://github.com/YuvrajKbanik"
            target="_blank"
            class="text-decoration-none">

        GitHub

    </a>

</footer>

</body>
</html>